<%= form_for @post, :html => {:class => 'row align-items-center'} do |f| %>
	<div class="col-md-12 post-form-wrapper">

		<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="row form-group">
			<%= f.label :title , class: "offset-md-1 col-md-2 col-form-label form-label" %>
			<div class="offset-md-1 col-md-10">
				<%= f.text_field :title, required: true, class: "form-control" %>
			</div>
		</div>
		<div class="row form-group">
			<%= f.label :body, class: "offset-md-1 col-md-2 col-form-label form-label" %>
			<div class="offset-md-1 col-md-10">
				<%= f.trix_editor :body, required: true, class: "form-control" %>
			</div>
		</div>
		<div class="row form-group">
			<%= f.label :website_url, class: "offset-md-1 col-md-2 col-form-label form-label" %>
			<div class="offset-md-1 col-md-10">
				<%= f.url_field :website_url, required: true, class: "form-control", placeholder: "Please enter ' https:// or http:// '" %>
			</div>
		</div><br>
		<div class="row form-group">
			<%= f.submit @post.new_record? ? "Create Post" : "Update Post", class: "offset-md-4 col-md-2 btn btn-primary" %>
		</div>
	</div>
	<% end %>
