<div class="row">
	<%= link_to "Back", posts_path, class: "btn btn-default" %>
</div>
<div class="post-show">
	<div class="row">
		<h3 class="col-md-12 post-title">
			<%= @post.title %>
		</h3>
	</div>
	<div class="row post-time">
			<span class="col-md-12">Submitted <%= time_ago_in_words(@post.created_at) %> Ago
				<% if @post.user_id == current_user.id %>
					| <%= link_to 'Edit', edit_post_path(@post) if @post.is_it_published? %>
					| <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
				<% end %>
		 </span>
	</div><br>

	<div class="row">
		<div class="post-body col-md-12">
			<%= @post.body.html_safe %>
		</div><br><br>
		<div class="thumb-align">
			<% thumbnail= LinkThumbnailer.generate(@post.website_url).images unless @post.website_url.nil? || @post.website_url ==""%>
			<% unless thumbnail.nil? %>
				<%=link_to( image_tag(thumbnail.first , :class=>"img-thumbnail"), @post.website_url) %>
			<% end %>
		</div>
	</div>
</div><br>

<div class="comments-show">
	<div class="row">
		<h5 class="comment-section-header col-md-12">Comments:</h5>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if @post.comments.present? %>
			<p>
				<%= render @post.comments %>
			</p>
			<% else %>
				<p>No Comments yet.</p>
			<% end %>
		</div>
	</div><br>
	<div class="row">
		<h5 class="col-md-12">Reply to Post:</h5>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'comments/form'%>
		</div>
	</div>
</div>

