<nav class="navbar navbar-dark bg-inverse">
  <div class="row">
    <div class="col-md-10">
      <%= link_to "Message Board", posts_path, class: "navbar-brand" %>
    </div>
    <div class="col-md-2">
      <% if user_signed_in? %>
        <div class="buttons">
          <button class="button btn btn-success">
            <%= link_to "New Post", new_post_path %>
          </button>
          <button class="button btn btn-info">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
          </button>
        </div>
      <% else %>
        <button class="button btn btn-info"><%= link_to "Sign Up", new_user_registration_path %></button>
        <button class="button btn btn-info"><%= link_to "Log In", new_user_session_path %></button>
      <% end %>
    </div>
  </div>
</nav>